<form name="login" action="/sign-up" method="post">
  <input type="email" name="email" placeholder="Random@email.com" required>
  <input type="text" name="firstName" placeholder="John" required>
  <input type="text" name="lastName" placeholder="Doe" required>
  <input type="text" name="username" placeholder="Username" required>
  <input type="password" name="password" placeholder="Password" required>
  <input type="submit" value="Sign Up"></li>
</form>
